
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Store Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/theme.css" type="text/css"/>
        <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Splash&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class=" navbar bg-light  fixed-top">
            <h4>Harsh Limbachiya</h4>
            <a href="../views/home.html" class="nav-link">Home</a>
            <a href="../views/audio.html" class="nav-link">Audio</a>
            <a href="../views/video.html" class="nav-link">Video</a>
            <a href="../views/table.html" class="nav-link">Table</a>
            <a href="../views/list.html" class="nav-link">List</a>
            <a href="../views/storefront.html" class="nav-link">Store</a>
        </nav>
        <div class="bodyPart">
            <h3 style="text-align: center;">Welcome To The Store</h3>
        <br>
        <div class="container">
            <div class="row row-cols-3">
                <div class="col"><image class=" card-img-top" src="../images/jeremy-ricketts-h4zs8fbybq4-unsplash.jpg">Blueberry <br> $5:00 (1 kg)</image></div>
                <div class="col"><image class="card-img-top" src="../images/jonas-renner-LOdAL10JejI-unsplash.jpg">Pomegranate <br> $6:00 (1 kg)</image></div>
                <div class="col"><image class="card-img-top" src="../images/julien-pianetti-Cr9hZrpC1Oc-unsplash.jpg">Pineapple <br>$5:00 (Per Pineapple)</image></div>
                <div class="col"><image style="height: 300px;" class="card-img-top" src="../images/elena-koycheva-y-feJOQIBao-unsplash.jpg">Watermelon <br>$5:00 (Per Watermelon)</image></div>
                <div class="col"><image style="height: 300px;" class="card-img-top" src="../images/mae-mu-U1iYwZ8Dx7k-unsplash.jpg">Orange <br>$5:00 (1 kg)</image></div>
                <div class="col"><image style="height: 300px;" class="card-img-top" src="../images/surendran-mp-QIW4IkjxP-w-unsplash.jpg">Lemon <br>$3:00 (10 lemon)</image></div>
                <div class="col"><image style="height: 300px;" class="card-img-top" src="../images/irene-kredenets-AWMWcR3hQUg-unsplash.jpg">Avacado  <br>$4:00 (1/2 Dozen) </image></div>
                <div class="col"><image style="height: 300px;" class="card-img-top" src="../images/daniel-hajdacki-NQvfUVkw_J8-unsplash.jpg">Kiwi <br></be>$6:00 (1 kg)</image></div>
                <div class="col"><image style="height: 300px;" class="card-img-top" src="../images/giorgio-trovato-fczCr7MdE7U-unsplash.jpg">Banana <br>$3:00 (1 Dozen)</image></div>
                <div class="col"><image class="card-img-top" src="../images/anton-darius-FCrgmqqvl-w-unsplash.jpg">Strawberry <br>$4:00 (1 kg)</image></div>
                <div class="col"><image class="card-img-top" src="../images/markus-spiske-s05XKB6jK2c-unsplash.jpg">Lemon <br>$3:00 (10 lemon)</image></div>
                <div class="col"><image class="card-img-top" src="../images/shelley-pauls-I58f47LRQYM-unsplash.jpg">Apple <br>$6:00 (1 kg)</image></div>
            </div>
          </div>
        </div>
        
          <script href="../officeData.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>